<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================--><!--    Document Title--><!-- ===============================================-->
    <title>Nirvana | Spa, Relax, Adventure</title>

    <!-- ===============================================--><!--    Favicons--><!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicons/favicon.ico">
    <link rel="manifest" href="../assets/images/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../assets/images/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================--><!--    Stylesheets--><!-- ===============================================-->
    <link rel="stylesheet" href="../vendors/prism/prism.css">
    <link href="../vendors/loaders.css/loaders.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="../../../css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&amp;family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">
    <link href="../vendors/hamburgers/hamburgers.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/swiper/swiper-bundle.min.css">
    <link href="../assets/css/theme.min.css" rel="stylesheet">
    <link href="../assets/css/user.min.css" rel="stylesheet">
  </head>

  <body>
    <!-- ===============================================--><!--    Main Content--><!-- ===============================================-->
    <main class="main" id="top" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="loading" id="preloader">
        <div class="h-100 d-flex align-items-center justify-content-center">
          <div class="spinner"><svg class="preloader" viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="length" fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg><svg class="preloader" viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle fill="none" stroke-width="8" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg></div>
          <div class="loader">
            <div class="row text-center align-items-center justify-content-center h-100">
              <div class="col-6">
                <h4 class="color-white">Loading...</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-layout="container">
        <div class="content">
          <nav class="navbar navbar-top navbar-nirvana navbar-expand-lg fixed-top top-0 start-0 end-0 bg-white">
            <div class="container py-lg-4"> <a class="navbar-brand position-lg-absolute start-50 top-50 translate-lg-middle" href="../index.htm"> <img src="../assets/images/logo-nirvana.png" alt="" width="70"></a><button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" data-hamburger-icon="data-hamburger-icon"><span class="hamburger hamburger--emphatic"><span class="hamburger-box"> <span class="hamburger-inner"></span></span></span></button>
              <div class="collapse navbar-collapse navbar-nav-top w-100" id="navbarNavDropdown" data-top-nav-dropdowns="data-top-nav-dropdowns">
                <ul class="navbar-nav py-0 py-lg-2 navitem-span-left">
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Home<span class="fas fa-chevron-down dropdown-toggle-icon"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../index.html">Youtube background</a></li>
                      <li> <a class="dropdown-item" href="../homes/yt-background-classic.html">Youtube background classic</a></li>
                      <li> <a class="dropdown-item" href="../homes/slider.html">Slider full screen</a></li>
                      <li> <a class="dropdown-item" href="../homes/slider-classic.html">Slider classic</a></li>
                      <li> <a class="dropdown-item" href="../homes/static.html">Image full screen</a></li>
                      <li> <a class="dropdown-item" href="../homes/static-classic.html">Image classic</a></li>
                      <li> <a class="dropdown-item" href="../homes/video.html">Html5 video full screen</a></li>
                      <li> <a class="dropdown-item" href="../homes/video-classic.html">HTML5 video classic</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Pages<span class="fas fa-chevron-down dropdown-toggle-icon"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../pages/about.html">About</a></li>
                      <li> <a class="dropdown-item" href="../pages/spa-%26-wellness.html">Spa &amp; Wellness</a></li>
                      <li> <a class="dropdown-item" href="../pages/yoga-%26-relax.html">Yoga &amp; Relax</a></li>
                      <li> <a class="dropdown-item" href="../pages/wilderness.html">Wilderness</a></li>
                      <li> <a class="dropdown-item" href="../pages/cuisine.html">Cuisine</a></li>
                      <li> <a class="dropdown-item" href="../pages/venues.html">Venues</a></li>
                      <li> <a class="dropdown-item" href="../pages/gallery.html">Gallery</a></li>
                      <li> <a class="dropdown-item" href="../pages/rtl.html">Rtl page</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Retreats<span class="fas fa-chevron-down dropdown-toggle-icon"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../retreats/backpack.html">Guided backpacking tour</a></li>
                      <li> <a class="dropdown-item" href="../retreats/herbal.html">Herbal medicine 101</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="navbar-nav ms-auto me-0 py-0 py-lg-2 navitem-span-right">
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Blog<span class="fas fa-chevron-down dropdown-toggle-icon"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../blog/blogs.html">Blog archive</a></li>
                      <li> <a class="dropdown-item" href="../blog/single-blog.html">Single blog</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Contact<span class="fas fa-chevron-down dropdown-toggle-icon"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../contact/contact.html">Contact</a></li>
                      <li> <a class="dropdown-item" href="../contact/reserve.html">Reserve</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Components<span class="fas fa-chevron-down dropdown-toggle-icon"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="background.html">Background</a></li>
                      <li> <a class="dropdown-item" href="buttons.html">Buttons</a></li>
                      <li> <a class="dropdown-item" href="carousel.html">Carousel</a></li>
                      <li> <a class="dropdown-item" href="colors.html">Colors</a></li>
                      <li> <a class="dropdown-item" href="decorative-helpers.html">Decorative helpers</a></li>
                      <li> <a class="dropdown-item" href="dropdowns.html">Dropdowns</a></li>
                      <li> <a class="dropdown-item" href="fontawesome.html">Fontawesome</a></li>
                      <li> <a class="dropdown-item" href="googlemap.html">Google map</a></li>
                      <li> <a class="dropdown-item" href="grid.html">Grid</a></li>
                      <li> <a class="dropdown-item" href="layout-helpers.html">Layout helpers</a></li>
                      <li> <a class="dropdown-item" href="lightbox.html">Lightbox</a></li>
                      <li> <a class="dropdown-item" href="modals.html">Modals</a></li>
                      <li> <a class="dropdown-item" href="parallax.html">Parallax</a></li>
                      <li> <a class="dropdown-item active" href="smtpjs.html">Smtpjs</a></li>
                      <li> <a class="dropdown-item" href="spacing.html">Spacing</a></li>
                      <li> <a class="dropdown-item" href="swiper.html">Swiper</a></li>
                      <li> <a class="dropdown-item" href="typography.html">Typography</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Docs<span class="fas fa-chevron-down dropdown-toggle-icon"></span></a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                      <li> <a class="dropdown-item" href="../docs/getting-started.html">Getting Started</a></li>
                      <li> <a class="dropdown-item" href="../docs/file-structure.html">File Structure</a></li>
                      <li> <a class="dropdown-item" href="../docs/customization.html">Customization</a></li>
                      <li> <a class="dropdown-item" href="../docs/gulp.html">Gulp</a></li>
                      <li> <a class="dropdown-item" href="../docs/rtl.html">RTL</a></li>
                      <li> <a class="dropdown-item" href="../docs/plugins.html">Plugins</a></li>
                      <li> <a class="dropdown-item" href="../docs/changelog.html">Changelog</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="overflow-hidden">

            <!-- ============================================--><!-- <section> begin ============================-->
            <section class="py-0 banner">
              <div class="bg-holder overlay" style="background-image:url(../assets/images/component-header.jpg);" data-zanim-xs='{"delay":0.5,"animation":"zoom-out"}' data-zanim-trigger="scroll"></div><!--/.bg-holder-->
              <div class="container">
                <div class="row align-items-center py-8">
                  <div class="col-12 overflow-hidden">
                    <h5 class="text-white mb-3 text-uppercase" data-zanim-xs='{"delay":1}'>components</h5>
                  </div>
                  <div class="col-12 overflow-hidden">
                    <h1 class="fs-6 fs-sm-4 fw-bold text-white" data-zanim-xs='{"delay":1.1}'>Smtpjs</h1>
                  </div>
                </div><a class="btn-down" href="#target-down" data-offset="84" data-zanim-xs='{"delay":2.5}' data-zanim-trigger="scroll"></a>
              </div><!-- end of .container-->
            </section><!-- <section> close ============================--><!-- ============================================-->

          </div>
          <div id="target-down"></div>

          <!-- ============================================--><!-- <section> begin ============================-->
          <section>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12">
                  <p> For detail documentation, <a href="https://smtpjs.com" target="_blank">Smtpjs documentation <span class="ms-1">&xrarr;</span></a></p>
                  <h4>Smtpjs </h4>
                  <p>Using<code>Smtp</code>you will be able to directly send email using client-side javascript without any server-level configurations.</p>
                  <p>You can also specify where to send the data via an hidden input:</p>
                  <h6 class="fs-9 mb-1"> How to configure and use Gmail SMTP to send emails from Javascript?</h6>
                  <p> In case you are planning to use Gmail's SMTP to send mails, then make sure you have properly configured the below settings:</p>
                  <h6 class="fs-9 mb-1"> Allowed access in Gmail for less secure apps:</h6>
                  <p> To use Gmail SMTP you'll need to allow access for less secure apps from google account settings. Turning the below <a href="https://myaccount.google.com/lesssecureapps">setting </a>off will allow your Javascript to connect to Gmail.</p>
                  <h6 class="fs-9 mb-1"> Disabled 2-step factor authentication</h6>
                  <p> As you're going to connect to Gmail remotely using a program, so 2-step factor authentication should be disabled. Click <a href="https://myaccount.google.com/security">here </a>to learn more on how to disable 2FA</p>
                  <h6 class="fs-9"> Once, the above settings are done, your Google SMTP server configurations would look something like this</h6>
                  <ul>
                    <li><code>MTP Server/Hostname: smtp.gmail.com</code></li>
                    <li><code>MTP Username: [Your Gmail Address]</code></li>
                    <li><code>SMTP password: [Your Gmail Password]</code></li>
                    <li><code>SMTP Port: 587</code></li>
                    <li><code>TLS/SSL: Required</code></li>
                  </ul>
                  <p class="mt-5">If you are using gulp based workflow, Open form-processor.js and update your smtp credential</p><pre class="mt-4"> <code class="lang-js">widow.Email.sent({
	Host: &quot;smtp.mailtrap.io&quot;, 
	Username: &quot;Your User Name&quot;,
	Password: &quot;Your Password&quot;,
	To: formData.email,
	From: &quot;You@isp.com&quot;,
	Subject: &quot;This is the subject&quot;,
	Body: `And this is the body` 
 })</code></pre>
                  <p class="mt-3">if you are not using gulp based workflow, Open <code>src/js/form-processor.js </code>find formInit method update your smtp credential.</p>
                  <p class="mt-5">See the sample code under the form below for better understanding:</p>
                  <div class="mt-5">
                    <form data-form="data-form" onsubmit="return false">
                      <div class="form-group"><label class="form-label" for="name">Name </label><input class="form-control" id="name" type="text" name="name" placeholder="Name"></div>
                      <div class="form-group"><label class="form-label" for="email">Your Email</label><input class="form-control" id="email" type="email" name="from" placeholder="Email"></div>
                      <div class="form-group"><label for="message"> Message </label><textarea class="form-control" id="message" rows="8" name="message" placeholder="Write your massage..."></textarea></div>
                      <div class="form-group"><input class="btn btn-primary d-block w-100" type="submit" name="submit" value="Send!"></div>
                      <div class="feedback mt-3"></div>
                    </form><pre class="scrollbar rounded-1 mt-5"><code class="language-html">&lt;form data-form=&quot;data-form&quot; onsubmit=&quot;return false&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;&lt;label class=&quot;form-label&quot; for=&quot;name&quot;&gt;Name &lt;/label&gt;&lt;input class=&quot;form-control&quot; id=&quot;name&quot; type=&quot;text&quot; name=&quot;name&quot; placeholder=&quot;Name&quot; /&gt;&lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;&lt;label class=&quot;form-label&quot; for=&quot;email&quot;&gt;Your Email&lt;/label&gt;&lt;input class=&quot;form-control&quot; id=&quot;email&quot; type=&quot;email&quot; name=&quot;from&quot; placeholder=&quot;Email&quot; /&gt;&lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;&lt;label for=&quot;message&quot;&gt; Message &lt;/label&gt;&lt;textarea class=&quot;form-control&quot; id=&quot;message&quot; rows=&quot;8&quot; name=&quot;message&quot; placeholder=&quot;Write your massage...&quot;&gt;&lt;/textarea&gt;&lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;&lt;input class=&quot;btn btn-primary d-block w-100&quot; type=&quot;submit&quot; name=&quot;submit&quot; value=&quot;Send!&quot; /&gt;&lt;/div&gt;
  &lt;div class=&quot;feedback mt-3&quot;&gt;&lt;/div&gt;
&lt;/form&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div><!-- end of .container-->
          </section><!-- <section> close ============================--><!-- ============================================-->

          <footer class="py-6 py-md-8 bg-primary text-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="container">
              <div class="row">
                <div class="col-12" data-zanim-xs='{"delay":0}'> <a class="text-white mx-3" href="#!">About</a><a class="text-white mx-3" href="#!">Connect</a><a class="text-white mx-3" href="#!">Terms &amp; Products </a></div>
                <div class="col-12 my-3" data-zanim-xs='{"delay":0.1}'> <img src="../assets/images/logo-nirvana-white.png" alt="" style="width: 15%"></div>
                <div class="col-12 font-sans-serif" data-zanim-xs='{"delay":0.2}'>
                  <div class="fs-9 text-white mb-3"> <a class="text-white" href="tel:(212)123-4567"> (212) 123-4567 </a><span class="px-3 d-none d-md-inline-block">&#9679;</span><br class="d-block d-md-none"><span class="mt-4 mt-md-9">666 Unnamed ave, california </span><span class="px-3 d-none d-md-inline-block">&#9679;</span><br class="d-block d-md-none"><a class="text-white mt-4 mt-md-0" href="mailto:nirvana@abc.com">nirvana@abc.com</a></div>
                </div>
                <div class="col-12" data-zanim-xs='{"delay":0.3}'>
                  <form class="row align-items-center justify-content-center g-0 mt-5" method="POST" onsubmit="return false;">
                    <div class="col-9 col-sm-6 col-md-5 px-sm-2 mb-3 mb-sm-0"> <input class="form-control" type="hidden" name="to" value="username@domain.extension"><input class="form-control border-white" type="email" placeholder="Enter Email Here"></div>
                    <div class="d-sm-none"></div>
                    <div class="col-9 col-sm-6 col-md-3 px-sm-2"><input class="btn btn-outline-white w-100 fs-9" type="submit" value="Submit"></div>
                  </form>
                </div>
                <div class="col-12" data-zanim-xs='{"delay":0.4}'>
                  <h6 class="fw-semi-bold text-500 mt-5 text-uppercase">powered by <a class="fw-bolder text-white p-0 text-decoration-underline" href="https://themewagon.com/">Themewagon</a></h6>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </main><!-- ===============================================--><!--    End of Main Content--><!-- ===============================================-->



    <!-- ===============================================--><!--    JavaScripts--><!-- ===============================================-->
    <script src="../vendors/popper/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../vendors/is/is.min.js"></script>
    <script src="../../../v3/smtp.js"> </script>
    <script src="../vendors/prism/prism.js"></script>
    <script src="../vendors/swiper/swiper-bundle.min.js"> </script>
    <script src="../vendors/rellax/rellax.js"></script>
    <script src="../vendors/fontawesome/all.min.js"></script>
    <script src="../vendors/lodash/lodash.min.js"></script>
    <script src="../vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="../vendors/gsap/gsap.js"></script>
    <script src="../vendors/gsap/customEase.js"></script>
    <script src="../vendors/gsap/drawSVGPlugin.js"></script>
    <script src="../assets/js/theme.js"></script>
  </body>

</html>